{% extends 'header.html' %}
{% block content %}

    <main>
        <!-- hero slider area start -->
        <section class="slider-area">
            <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
                <!-- single slider item start -->
                <div class="hero-single-slide hero-overlay">
                    <div class="hero-slider-item bg-img" data-bg="{{ url_for('static', filename='assets/img/alwaha/2249457539.jpeg') }}">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hero-slider-content slide-1">
                                        <h2 class="slide-title">Non Woven Bags<span>collection 2024.</span></h2>
                                        <h6 class="slide-desc">Eco-Friendly Non-Woven Bags: Sustainable Solutions for Everyday Use</h6>
                                        <a href="shop.html" class="btn btn-hero">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider item start -->

                <!-- single slider item start -->
                <div class="hero-single-slide hero-overlay">
                    <div class="hero-slider-item bg-img" data-bg="{{ url_for('static', filename='assets/img/alwaha/1674718801.jpeg') }}">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hero-slider-content slide-2">
                                        <h2 class="slide-title">Non Woven Bags<span>collection 2024.</span></h2>
                                        <h6 class="slide-desc">Eco-Friendly Non-Woven Bags: Sustainable Solutions for Everyday Use</h6>
                                        <a href="shop.html" class="btn btn-hero">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider item start -->
            </div>
        </section>
        <!-- hero slider area end -->

    <section class="our-product section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- section title start -->
                        <div class="section-title text-center">
                            <h2 class="title">What We Are?</h2>
<!--                            <h3 class="title">Al Waha Bags</h3>-->
                            <p class="sub-title">

       Al Waha Bags Tr. L.L.C we are leading manufacturer and dealer of non-woven bags, we are committed to providing sustainable packaging solutions that prioritize environmental responsibility and quality. Our manufacturing facilities are equipped with state-of-the-art technology and employ skilled professionals dedicated to producing high-quality non-woven bags.

Our manufacturing process adheres to strict environmental standards, ensuring that our products are eco-friendly and contribute to reducing plastic waste. We offer a diverse range of non-woven bags in various sizes, styles, and colors to meet the diverse needs of our customers.

As a dealer, we distribute our premium non-woven bags to retailers, businesses, and organizations across the region. Our commitment to customer satisfaction extends beyond providing quality products; we also offer personalized printing services to help businesses promote their brand effectively.

At the heart of our company is a passion for sustainability and innovation. We strive to make a positive impact on the environment by encouraging the use of reusable bags and promoting a greener lifestyle. Choose us for your non-woven bag needs and join us in our mission to create a more sustainable future.
</p>
                        </div>
                        <!-- section title start -->
                    </div>
                </div>
            </div>
    </section>




<!--                    <div class="col-md-6">-->
<!--                        <div class="policy-item">-->
<!--                            <div class="policy-icon">-->
<!--                                <i class="pe-7s-headphones"></i>-->
<!--                            </div>-->
<!--                            <div class="policy-content">-->
<!--                                <h4 class="policy-title">Customer Support</h4>-->
<!--                                <p>Support 24 hours a day</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="policy-item">-->
<!--                            <div class="policy-icon">-->
<!--                                <i class="pe-7s-shield"></i>-->
<!--                            </div>-->
<!--                            <div class="policy-content">-->
<!--                                <h4 class="policy-title">Secure Payment</h4>-->
<!--                                <p>We ensure secure payment</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- service policy area end -->

        <!-- banner statistics area start -->
<!--        <div class="banner-statistics-area">-->
<!--            <div class="container">-->
<!--                <div class="row mtn-20">-->
<!--                    <div class="col-sm-6">-->
<!--                        <figure class="banner-statistics mt-20">-->
<!--                            <a href="#">-->
<!--                                <img src="{{ url_for('static', filename='assets/img/banner/img1-top.jpg') }}" alt="product banner">-->
<!--                            </a>-->
<!--                        </figure>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6">-->
<!--                        <figure class="banner-statistics mt-20">-->
<!--                            <a href="#">-->
<!--                                <img src="{{ url_for('static', filename='assets/img/banner/img2-top.jpg') }}" alt="product banner">-->
<!--                            </a>-->
<!--                        </figure>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- banner statistics area end -->

        <!-- product area start -->
        <section class="featured-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <!-- section title start -->
                            <div class="section-title">
                                <h3 class="title">Featured Products</h3>
                            </div>
                            <!-- section title start -->
                            <!-- product tab menu start -->
                            <div class="product-tab-menu">
                                <ul class="nav justify-content-center">
                                    <li><a href="#tab1" class="active" data-bs-toggle="tab">All</a></li>
                                    <li><a href="#tab2" data-bs-toggle="tab">New</a></li>
                                    <li><a href="#tab3" data-bs-toggle="tab">Top Sale</a></li>
                                </ul>
                            </div>
                            <!-- product tab menu end -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-container">
                            <!-- product tab content start -->
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab1">
                                    <div class="product-carousel-4 slick-row-10 slick-arrow-style slick-arrow-style__append">
                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/b6_resized.jpg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/b6_resized.jpg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/box.jpg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Box Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/tshirt-clr.jpg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirt-clr.jpg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtbag.jpeg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Tshirt Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b11_resized.jpeg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b11_resized.jpeg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b10.jpeg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Die-cut Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
<!--                                        <div class="product-item">-->
<!--                                            <figure class="product-thumb">-->
<!--                                                <a href="product-details.html">-->
<!--                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/rolbag.png') }}" alt="product">-->
<!--                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/orang.jpg') }}" alt="product">-->
<!--                                                </a>-->

<!--                                            </figure>-->
<!--                                            <div class="product-caption text-center">-->
<!--                                                <h6 class="product-name">-->
<!--                                                    <a href="product-details.html">Handle Bag</a>-->
<!--                                                </h6>-->

<!--                                            </div>-->
<!--                                        </div>-->
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/orang.jpg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/orang.jpg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/rolbag.png') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">'
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Handle Bags</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <div class="product-carousel-4 slick-row-10 slick-arrow-style slick-arrow-style__append">
                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/sky_box.jpeg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/sky_box.jpeg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/b8.jpeg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Box Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/diecut2.jpg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/diecut2.jpg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b11_resized.jpeg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Die-cut Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/handleblue1.jpg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/handleblue1.jpg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/orange_handle.jpg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Handle Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/tshirtblue.jpeg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtblue.jpeg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtbag.jpeg') }}" alt="product">
                                                </a>
<!--                                                <div class="product-badge">-->
<!--                                                    <div class="product-label new">-->
<!--                                                        <span>-12%</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Tshirt Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/tshirtblue.jpeg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtblue.jpeg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtbag.jpeg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Tshirt Bags</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab3">
                                    <div class="product-carousel-4 slick-row-10 slick-arrow-style slick-arrow-style__append">
                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/blue.jpg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/blue.jpg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b5_resized.jpg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Handle Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/tshirtbag.jpeg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtbag.jpeg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtblue.jpeg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Tshirt Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b10.jpeg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b10.jpeg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b11_resized.jpeg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Die-Cut Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/product/pink.jpg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/pink.jpg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/b6_resized.jpg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html"> Box Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->

                                        <!-- product item start -->
                                        <div class="product-item">
                                            <figure class="product-thumb">
                                                <a href="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/1858069882_resized.jpeg') }}">
                                                    <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/1858069882_resized.jpeg') }}" alt="product">
                                                    <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b10.jpeg') }}" alt="product">
                                                </a>

                                            </figure>
                                            <div class="product-caption text-center">
                                                <h6 class="product-name">
                                                    <a href="product-details.html">Die-cut Bag</a>
                                                </h6>

                                            </div>
                                        </div>
                                        <!-- product item end -->
                                    </div>
                                </div>
                            </div>
                            <!-- product tab content end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product area end -->

        <!-- banner statistics area start -->
        <div class="banner-statistics-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <figure class="banner-statistics">
                            <a href="#">
                                <img src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/banner-1.jpg') }}" alt="product banner">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner statistics area end -->

        <!-- featured product area start -->
        <section class="our-product section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- section title start -->
                        <div class="section-title text-center">
                            <h2 class="title">Our products</h2>
                            <p class="sub-title">Discover our sustainable and stylish non-woven bags – your eco-friendly companion for every occasion</p>
                        </div>
                        <!-- section title start -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-carousel-4_2 slick-row-10 slick-arrow-style">
                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b10.jpeg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b10.jpeg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/1858069882_resized.jpeg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Die-cut Bag</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->

                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/tshirtblue.jpeg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtblue.jpeg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirt-clr.jpg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Tshirt Bag</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->

                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/handleblu1.jpg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/handleblu1.jpg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/orange_handle.jpg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Handle Bag</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->

                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b5_resized.jpg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b5_resized.jpg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b7_resized.jpg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Handle Bag</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->

                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/diecut2.jpg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/diecut2.jpg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b10.jpeg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Die-cut Bags</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->

                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/tshirt-clr.jpg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirt-clr.jpg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtbag.jpeg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Tshirt Bag</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->

                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/pink.jpg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/pink.jpg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/sky_box.jpeg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Box Bag</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->
                                                        <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/diecut2.jpg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/diecut2.jpg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b10.jpeg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Die-cut Bags</a>
                                    </h6>

                                </div>
                            </div>

                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/b8.jpeg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/b8.jpeg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/box.jpg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Box Bag</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->

                            <!-- product item start -->

                            <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/tshirtbag.jpeg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtbag.jpeg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/tshirtblue.jpeg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Tshirt Bag</a>
                                    </h6>

                                </div>
                            </div>
                            <!-- product item end -->
                               <!-- product item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/orange_handle.jpg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/orange_handle.jpg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/alwaha_new/b7_resized.jpg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Handle Bag</a>
                                    </h6>

                                </div>
                            </div>

                            <!-- product item end -->
                                                        <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{ url_for('static', filename='assets/img/alwaha/product/pink.jpg') }}">
                                        <img class="pri-img" src="{{ url_for('static', filename='assets/img/alwaha/product/pink.jpg') }}" alt="product">
                                        <img class="sec-img" src="{{ url_for('static', filename='assets/img/alwaha/product/sky_box.jpeg') }}" alt="product">
                                    </a>

                                </figure>
                                <div class="product-caption text-center">
                                    <h6 class="product-name">
                                        <a href="product-details.html">Box Bag</a>
                                    </h6>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- featured product area end -->


        <!-- latest blog area start -->
        <section class="latest-blog-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- section title start -->
                        <div class="section-title text-center">
                            <h2 class="title">Our Blog</h2>
                            <p class="sub-title">There are latest blog posts</p>
                        </div>
                        <!-- section title start -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="blog-carousel-active slick-row-15 slick-arrow-style">
                            <!-- blog post item start -->
                            <div class="blog-post-item">
                                <figure class="blog-thumb">
                                    <a href="blog-details.html">
                                        <img src="{{ url_for('static', filename='assets/img/alwaha/blog/blog.jpg') }}" alt="blog image">
                                    </a>
                                </figure>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <p>14 Sep</p>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-details.html">Understanding Non-Woven Bags</a>
                                    </h3>
                                    <p class="blog-desc">Non-woven bags are made from spun-bonded polypropylene (PP) fabric, which is lightweight,
durable, and recyclable. Unlike traditional plastic bags, which are made from petroleum-based
materials and take centuries to decompose, non-woven bags are biodegradable and can break
down within a few years under the right conditions. This makes them a much more sustainable
option for everyday use.</p>
                                    <a href="blog-details.html" class="read-more">Read More</a>
                                </div>
                            </div>
                            <!-- blog post item end -->

                            <!-- blog post item start -->
                            <div class="blog-post-item">
                                <figure class="blog-thumb">
                                    <a href="blog-details.html">
                                        <img src="{{ url_for('static', filename='assets/img/alwaha/blog/eco-blog1.jpeg') }}" alt="blog image">
                                    </a>
                                </figure>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <p>20 Jun</p>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-details.html">Environmental Impact</a>
                                    </h3>
                                    <p class="blog-desc">The environmental impact of plastic bags is well-documented, with millions ending up in landfills
and oceans each year, posing a severe threat to marine life and ecosystems. Non-woven bags
offer a solution to this problem by reducing reliance on single-use plastics and minimizing
pollution. By choosing non-woven bags, individuals and businesses can actively contribute to
reducing plastic waste and preserving the planet for future generations.</p>
                                    <a href="blog-details.html" class="read-more">Read More</a>
                                </div>
                            </div>
                            <!-- blog post item end -->

                            <!-- blog post item start -->
                            <div class="blog-post-item">
                                <figure class="blog-thumb">
                                    <a href="blog-details.html">
                                        <img src="{{ url_for('static', filename='assets/img/alwaha/blog/blog5_.jpeg') }}" alt="blog image">
                                    </a>
                                </figure>
                                <div class="blog-content">
                                    <div class="blog-meta">

                                        <p>10 May</p>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-details.html">Versatility and Customization</a>
                                    </h3>
                                    <p class="blog-desc">One of the key advantages of non-woven bags is their versatility. They come in various sizes,
shapes, and colors, making them suitable for a wide range of applications. From grocery
shopping and promotional events to corporate giveaways and retail packaging, non-woven bags
can be customized to meet specific needs and branding requirements. Additionally, their sturdy
construction allows them to be reused multiple times, further extending their lifespan and
environmental benefits.</p>
                                    <a href="blog-details.html" class="read-more">Read More</a>
                                </div>
                            </div>
                            <!-- blog post item end -->

                            <!-- blog post item start -->
                            <div class="blog-post-item">
                                <figure class="blog-thumb">
                                    <a href="blog-details.html">
                                        <img src="{{ url_for('static', filename='assets/img/alwaha/blog/blog7.jpg') }}" alt="blog image">
                                    </a>
                                </figure>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <p>25 Jan</p>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-details.html">Embracing Sustainability</a>
                                    </h3>
                                    <p class="blog-desc">As consumers become more conscious of their environmental footprint, the demand for
sustainable alternatives continues to grow. Non-woven bags provide an accessible and practical
solution for individuals and businesses looking to adopt more eco-friendly practices. By making
the switch to non-woven bags, we can collectively reduce our reliance on plastic, minimize waste,

and pave the way for a greener, healthier planet</p>
                                    <a href="blog-details.html" class="read-more">Read More</a>
                                </div>
                            </div>
                            <!-- blog post item end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- latest blog area end -->

        <!-- brand logo area start -->
<!--        <div class="brand-logo section-padding pt-0">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-12">-->
<!--                        <div class="brand-logo-carousel slick-row-10 slick-arrow-style">-->
<!--                            &lt;!&ndash; single brand start &ndash;&gt;-->
<!--                            <div class="brand-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{{ url_for('static', filename='assets/img/brand/1.png') }}" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; single brand end &ndash;&gt;-->

<!--                            &lt;!&ndash; single brand start &ndash;&gt;-->
<!--                            <div class="brand-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{{ url_for('static', filename='assets/img/brand/2.png') }}" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; single brand end &ndash;&gt;-->

<!--                            &lt;!&ndash; single brand start &ndash;&gt;-->
<!--                            <div class="brand-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{{ url_for('static', filename='assets/img/brand/3.png') }}" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; single brand end &ndash;&gt;-->

<!--                            &lt;!&ndash; single brand start &ndash;&gt;-->
<!--                            <div class="brand-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{{ url_for('static', filename='assets/img/brand/4.png') }}" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; single brand end &ndash;&gt;-->

<!--                            &lt;!&ndash; single brand start &ndash;&gt;-->
<!--                            <div class="brand-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{{ url_for('static', filename='assets/img/brand/5.png') }}" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; single brand end &ndash;&gt;-->

<!--                            &lt;!&ndash; single brand start &ndash;&gt;-->
<!--                            <div class="brand-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{{ url_for('static', filename='assets/img/brand/6.png') }}" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; single brand end &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- brand logo area end -->
    </main>

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

{% endblock %}
